<nav data-testid="menu-component" class="flex mt-6 border-t border-double border-4 border-b-gray-600 border-x-0">
  <ul class="w-full flex items-center justify-center py-2 sm:px-4 gap-1 overflow-x-auto">
    <li *ngFor="let section of sections">
      <a
        [attr.data-testid]="'link-section-' + section.slug"
        [routerLink]="['section', section.slug]"
        routerLinkActive="bg-gray-100"
        class="py-1 px-2 rounded transition-colors hover:bg-gray-100 focus:bg-gray-100">
        {{ section.title }}
      </a>
    </li>
  </ul>
</nav>
